*{
    margin: 0px;
    padding: 0px;
}

:root{
    --brown:rgb(77,11,11);
}
#logo{
    width: 100%;
    height: 100px;
}

.nav-item i{
    color: rgb(178,178,179);
}

.nav-item{
    font-size:20px;
}

.viewButton{
    background-color: var(--brown);
    color: white;
}

.viewButton:hover{
    background-color: white;
    color: var(--brown);
    border: 1px solid var(--brown);
}

#main{
    height:120vh;
    background-image: url(./media/sofa\ landscape.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

.welcome{
    padding-top: 8%;
    padding-left: 4%;
}

.welcome h1{
    font-size: 80px;
    font-weight: 600;
    color: black;
}

@media(max-width:600px){
    .welcome h1{
        font-size: 30px;
    }
}

.welcome h3{
    font-size:40px;
    color:black;
}

/* .btn{
    border-color: var(--brown);
    color: var(--brown);
} */

#our-work{
    padding-top: 55px;
   background-image: url(./media/background-img.jpg); 
    background-color: blue;

    background-attachment: fixed;
}


#our-work h1{
    color: brown;
    text-align: center;
    padding: 30px;
}

.div-img{
    height:"480px";
    width:"100%";
    border: 5px solid var(--brown) ;
    padding-top: 4%;
    padding-left: 4%
}

.hr{
    background-color:var(--brown);
    height: 5px;
    width: 15%;
    margin-bottom: 10px;
}

#about-text{
    color: var(--brown);
    padding-top: 20px;
    padding-bottom: 10px;
}

#gallery{
    padding-top: 5%;
}

#gallery h1{
    padding-bottom: 3%;
}

#img1{
    position: relative;
    margin-bottom: 40px;
}

#fluffy-chair{
    width: 50%;
    padding: 5%;
    background-color: rgb(0,0,0,0.893);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
}

#button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


